.createPost {
	margin: 2rem auto;
	width: 80%;
	border-radius: var(--radius-light);
	border: var(--border-light);
	color: var(--text-normal);
	header {
		border-bottom: var(--border-light);
		font-size: 1rem;
		padding: 1em;
	}
	.user {
		display: flex;
		align-items: center;
		padding: 1em;
		img {
			width: 50px;
			height: 50px;
		}
		span {
			margin-left: 1em;
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
	form {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		textarea {
			align-self: flex-start;
			resize: none;
			padding: 1em;
			height: 100px;
			outline: none;
			border: none;
		}
		p {
			font-size: 1.4rem;
			margin: 1rem 0;
		}
	}
	@media (min-width: 768px) {
		max-width: 600px;
		header {
			font-size: 1.6rem;
		}
	}
}
