.post {
	margin: auto;
	max-width: 600px;
	color: var(--text-normal);
	hr {
		width: 90%;
		margin: 3rem auto;
		background-color: var(--border-light);
	}
	.author {
		display: flex;
		align-items: center;
		justify-content: space-between;
		.image {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				margin-left: 5px;
				border-radius: var(--radius-circle);
				width: 40px;
				height: 40px;
			}
			a {
				margin-left: 1em;
				text-decoration: none;
				color: var(--text);
				font-size: 1.4rem;
				font-weight: bold;
			}
			span {
				margin-left: 2em;
				color: var(--text-light);
			}
		}
		button {
			font-size: 2.5rem;
			font-weight: bold;
			border: none;
			cursor: pointer;
			padding: 1.5rem;
			background-color: transparent;
		}
	}

	.images {
		max-height: 600px;
		img {
			width: 100%;
			object-fit: cover;
			cursor: pointer;
		}
	}

	.actions {
		display: flex;
		justify-content: space-between;
		align-items: center;
		svg {
			font-size: 3.5rem;
			margin: 0.5rem 0;
			cursor: pointer;
		}
	}
	.likes,
	.description,
	.comments,
	.addComment {
		text-align: left;
		font-size: 1.3rem;
		margin: 0.5em 0;
	}
	.likes {
		p {
			font-weight: bold;
			margin: 1em 0;
			font-size: 1.4rem;
		}
	}

	.comments {
		p {
			margin: 1em 0;
			color: var(--text-light);
		}
	}

	.description {
		a {
			font-weight: bold;
			text-decoration: none;
			color: var(--text);
		}
	}
	.addComment {
		textarea {
			border: none;
			padding: 0.5em 0 0.5em 0;
		}
	}
}
