.settings {
	background-color: var(--primary-background);
	border-radius: var(--radius-medium);
	width: 90%;
	max-width: 500px;
	z-index: 200;
	color: var(--text-light);
	border: var(--border-light);
	&.edit {
		max-width: 900px;
		margin: 2rem 0;
	}
	ul {
		list-style-type: none;
	}
}
