.image {
	position: relative;
	cursor: pointer;
	z-index: 1;
	form {
		display: none;
	}
}
.note {
	font-size: 2rem;
	color: var(--text-normal);
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: var(--border-light);
	padding: 3rem 1rem;
}
