.actions {
	max-width: 350px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1rem 0;

	h2 {
		font-size: 1.2rem;
		font-weight: 200;
	}

	@media (min-width: 400px) {
		gap: 1rem;
	}

	@media (min-width: 576px) {
		h2 {
			font-size: 1.6rem;
		}
	}

	@media (min-width: 1400px) {
		max-width: 500px;

		h2 {
			font-size: 2.2rem;
		}
	}
}

.action {
	padding: 0.5em;
	border-radius: 5px;
	outline: none;
	border: var(--border-light);
	color: var(--text-color);
	cursor: pointer;
	text-decoration: none;
	font-size: 1rem;
	font-weight: bold;
	border-radius: var(--radius-medium);
	transition: background-color 0.3s;
	&.follow {
		background-color: var(--primary-button);
		color: #fff;
		&:hover {
			background-color: var(--primary-button-hover);
		}
	}
	.spinner {
		width: 20px;
		height: 20px;
	}
	@media (min-width: 400px) {
		font-size: 1.2rem;
	}

	@media (min-width: 576px) {
		font-size: 1.4rem;
	}

	@media (min-width: 1400px) {
		font-size: 1.6rem;
	}
}
