.user {
	padding: 0.8rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.image {
		display: flex;
		justify-content: center;
		align-items: center;
		.name {
			color: var(--text-color);
			font-size: 1.2rem;
			margin-left: 1em;
			a {
				text-decoration: none;
				font-weight: bold;
				color: var(--text-color);
			}
			span {
				display: block;
				opacity: 0.6;
				margin-top: 0.2em;
			}
		}
	}
}

.follow {
	font-size: 1.4rem;
	color: var(--primary-button);
	background-color: transparent;
	border: none;
	cursor: pointer;
	&:hover {
		color: var(--primary-button-hover);
	}
	&.button {
		background-color: var(--primary-button);
		border-radius: var(--radius-medium);
		padding: 0.5em 1em;
		color: #fff;
		transition: background-color 0.3s;
		&:hover {
			background-color: var(--primary-button-hover);
		}
	}
}
