.box {
	img {
		display: none;
	}
	@media (min-width: 1200px) {
		margin: 0 auto;
		max-width: 1200px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 10vh;
		img {
			display: block;
			object-fit: contain;
		}
	}
}
