.box {
	margin-top: 5rem;
	.post {
		margin: auto;
		max-width: 600px;
		color: var(--text-normal);
	}
	@media (min-width: 1200px) {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		.posts {
			min-width: 500px;
		}
	}
}
