.box {
	margin: 5rem auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 500px;
	width: 80%;
	border-radius: var(--radius-light);
	color: var(--text-normal);
	overflow: hidden;
	.panel {
		flex-grow: 1;
		border: var(--border-light);
	}
	@media (min-width: 1200px) {
		flex-direction: row;
		width: 800px;
		max-width: none;
		max-height: 600px;
	}
	@media (min-width: 1400px) {
		width: 1000px;
	}
}
