.buttons {
	button {
		min-height: 60px;
		width: 100%;
		margin: 1.5rem 0;
		cursor: pointer;
		padding: 0.5em 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		border-radius: 0.5rem;
		transition: background-color 0.3s;
		border-color: rgba(0, 0, 0, 0.2);
		span {
			flex-grow: 1;
		}
		svg {
			font-size: 3rem;
		}
	}
	.google {
		background-color: #fff;
		&:hover {
			background-color: #efebeb;
		}
	}
	.github {
		background-color: #24292f;
		color: #fff;
		&:hover {
			background-color: #181b1e;
		}
	}
	.facebook {
		background-color: #006aff;
		color: #fff;
		&:hover {
			background-color: #035ad3;
		}
	}
	hr {
		position: relative;
		margin: 3rem auto;
		border: none;
		border-top: 1px solid rgba(0, 0, 0, 0.2);
		overflow: visible;
		&::before {
			position: relative;
			content: 'or';
			top: -0.7rem;
			padding: 0 0.7em;
			font-size: 1.5rem;
			background-color: #fff;
			color: rgba(0, 0, 0, 0.4);
		}
	}
}
