.posts {
	margin: 2rem auto;
	max-width: 900px;
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	gap: 1px;
	p {
		padding: 3rem 0;
		font-size: 1.8rem;
		width: 100%;
		text-align: center;
	}
	@media (min-width: 768px) {
		gap: 3px;
	}
	@media (min-width: 1200px) {
		gap: 4px;
	}
}
