.box {
	max-width: 1000px;
	width: 80%;
	margin: 5rem auto;
	.posts {
		margin: 3rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		gap: 1px;
		@media (min-width: 768px) {
			gap: 1rem;
		}
	}
}
