.picker {
	margin: 0 auto;
	svg {
		font-size: 6rem;
	}
	p {
		font-size: 1.6rem;
	}
	.input {
		display: none;
	}
	button {
		margin-top: 2rem;
		background-color: var(--primary-button);
		color: #fff;
		border-radius: var(--radius-light);
		border: none;
		padding: 0.5em 1em;
		font-size: 1.6rem;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;
		&:hover {
			background-color: var(--primary-button-hover);
		}
	}
	.preview {
		.image {
			position: relative;
            button{
                position: absolute;
            }
		}
	}
}
