.picker {
	svg {
		font-size: 6rem;
	}

	input {
		display: none;
	}

	.action {
		margin: 2rem 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.preview {
		position: relative;
		img {
			width: 100%;
			object-fit: contain;
		}
	}
	button {
		display: block;
		margin: 2rem auto;
		background-color: var(--primary-button);
		color: #fff;
		border-radius: var(--radius-light);
		border: none;
		padding: 0.5em 1em;
		font-size: 1.6rem;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;
		&:hover {
			background-color: var(--primary-button-hover);
		}
	}
	.spinner {
		margin: 1rem auto;
		border-top: 5px solid var(--primary-button);
	}
}
