.box {
	color: var(--text-normal);
	p {
		margin-top: 4rem;
		font-size: 1.8rem;
		opacity: 0.7;
		text-align: center;
	}
}
.heading {
	margin: 2rem;
	display: block !important;
	font-size: 1.6rem;
	font-weight: bold;
}
