.box {
	color: var(--text-normal);
	&.page {
		width: 80%;
		margin: 3rem;
		padding: 1rem;
	}
	p {
		margin-top: 4rem;
		font-size: 1.8rem;
		opacity: 0.7;
		text-align: center;
	}
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&.page {
		justify-content: space-around;
		width: 100%;
	}
	.heading {
		margin: 2rem;
		display: block !important;
		font-size: 1.6rem;
		font-weight: bold;
	}
	.clear {
		margin: 1rem;
		padding: 1rem;
		border: none;
		background-color: transparent;
		color: var(--primary-button);
		font-weight: bold;
		cursor: pointer;
		opacity: 0;
		&.show {
			opacity: 1;
		}
		&:hover {
			color: var(--primary-button-hover);
		}
	}
}
