.box {
	margin: 2rem auto;
	width: 60%;
	max-width: 700px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--radius-medium);
	border: var(--border-light);
	.spinner {
		width: 100px;
		height: 100px;
	}
}
