@media (min-width: 768px) {
	.box {
		padding: 2rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
		border-right: var(--border-light);
		min-height: 100vh;
		width: 200px;
		.options {
			display: flex;
			justify-content: center;
			flex-direction: column;
		}
	}
}
