.box {
	position: fixed;
	background-color: var(--primary-background);
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
	border-bottom: var(--border-light);

	h2 {
		display: none;
		align-self: flex-start;
		font-size: 2rem;
		margin: 1rem 0;
	}
	.options {
		display: flex;
		color: var(--text-normal);
		p {
			margin: 1rem 0;
			font-size: 1.1rem;
			opacity: 0.4;
			font-weight: bold;
		}
	}
	@media (min-width: 768px) {
		position: static;
		justify-content: flex-start;
		flex-direction: column;
		padding: 2rem;
		border-right: var(--border-light);
		border-bottom: none;
		min-height: 100vh;
		width: 200px;
		h2 {
			display: block;
		}
		.options {
			justify-content: center;
			flex-direction: column;
		}
	}
}
