.author {
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: var(--border-light);
	.user {
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			color: var(--text-normal);
			text-decoration: none;
			font-weight: bold;
		}
		span {
			margin-left: 1em;
			font-size: 1.2rem;
		}
	}

	.image {
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-weight: bold;
		img {
			border-radius: var(--radius-circle);
		}
	}
}
