.button {
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 2rem;
	padding: 1rem;
	cursor: pointer;
	color: var(--text-normal);
}
.settings {
	background-color: var(--primary-background);
	border-radius: var(--radius-medium);
	width: 90%;
	max-width: 500px;
	z-index: 200;
	color: var(--text-light);
	border: var(--border-light);

	ul {
		list-style-type: none;
	}
}
