.option {
	cursor: pointer;
	img {
		border-radius: var(--radius-circle);
	}
	svg {
		font-size: 3rem;
		cursor: pointer;
		color: var(--text-normal);
	}
	span {
		display: none;
		color: var(--text-light);
	}
	&.active {
		font-weight: bold;
		img {
			border: var(--avatar-border);
		}
		span {
			color: var(--text-normal);
		}
	}
}
@media (min-width: 768px) {
	.option {
		min-height: 60px;
		border-radius: 5px;
		width: 100%;
		transition: background-color 0.2s ease-in-out;
		&:hover {
			background-color: var(--option-hover);
		}
		svg {
			font-size: 3.5rem;
		}
	}
}

@media (min-width: 1200px) {
	.option {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 1em;
		text-decoration: none;
		color: var(--text-light);
		font-size: 1.8rem;
		span {
			display: block;
			padding-left: 1em;
		}
	}
}
@media (min-width: 1400px) {
	.option {
		font-size: 2rem;
	}
}
