.logo {
	display: none;
	@media (min-width: 1200px) {
		margin-left: 3rem;
		display: block;
		margin-top: 3rem;
		a {
			font-size: 3rem;
			font-weight: bold;
			color: var(--text-normal);
			text-decoration: none;
		}
		&.search {
			margin-left: 2rem;
		}
	}
}
