.user {
	width: 100%;
	padding: 0.8rem 1rem;
	display: flex;
	align-items: center;
	text-decoration: none;

	&:hover {
		background-color: var(--option-hover);
	}
	span {
		font-size: 1.4rem;
		color: var(--text-normal);
		margin-left: 0.5em;
		font-weight: bold;
	}
}
