.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: var(--border-light);
	svg {
		font-size: 3rem;
		margin: 0.5rem 0.3em;
		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
	}
	div {
		display: flex;
	}
	a {
		color: var(--text-normal);
	}
	.liked {
		color: rgb(205, 49, 21);
		animation: var(--likeScaleAnimation);
	}
	.saved {
		color: rgb(72, 108, 19);
		animation: var(--likeScaleAnimation);
	}
}
