.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	svg {
		font-size: 3rem;
		margin: 0.5rem 0.3em;
		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
	}
	div {
		display: flex;
	}
	a {
		color: var(--text-normal);
	}
	.liked {
		color: rgb(205, 49, 21);
		animation: scaleUp 0.3s ease-in-out;
	}
	.saved {
		color: rgb(72, 108, 19);
		animation: scaleUp 0.3s ease-in-out;
	}
}

@keyframes scaleUp {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.4);
	}
	100% {
		transform: scale(1);
	}
}
